<template name="postsNewUrl">
    <div>

        <!--<span>*note: try this url as a sample:-->
        <!--<i>http://www.youcaring.com/ashley-reed-376889</i></span>-->

            <label class="item item-input item-stacked-label">
                <!--<span class="input-label">Original Url (optional)</span>-->
                <div class="item1 item-input-inset">
                    <input name="url" placeholder="Original Url (optional)" class="original-url js-original-url" type="text">
                    <a name="original-post-details" class="button button-small disabled js-post-details-link" href="/posts/new/original-details">
                        Check >>
                    </a>
                </div>
            </label>
        <input type="button" value="scan" class="js-scan-url hidden"/>
    </div>
</template>