<template name="postsNewUrl">
    <div>
        <input name="url" placeholder="original url" class="original-url js-original-url"/>
        <input type="button" value="scan" class="js-scan-url hidden"/>
        <br/>
        <a name="original-post-details" class="disabled js-post-details-link" href="/posts/new/original-details">original post details >> </a>
        <br/>

        <hr/>

        <span>*note: try this url as a sample:
        <i>http://www.youcaring.com/ashley-reed-376889</i></span>
    </div>
</template>