<template name="postsPlacesAutoform">
    <div class="view--places-autoform">
        <!--<input class="form-control typeahead" name="team" type="text"
               placeholder="Post Location"
               autocomplete="off" spellcheck="off"
               data-source="placesArray"/> -->
        <label type="stacked" class="item item-input item-stacked-label">
            <span class="input-label">Location</span>
            <input class="form-control typeahead" name="team" type="text"
                   placeholder="Post Location"
                   autocomplete="off" spellcheck="off"
                   data-source="placesArray"/>
        </label>
        <div class="list">



        </div>
    </div>

</template>

