<template name="globalSearchIon">
    <!-- navigation buttons -->

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="home" text="Home"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        {{> globalSearchField}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        {{> showListMap}}
    {{/contentFor}}


    {{#ionView}}

        {{#ionSubheaderBar class='subHeader-status'}}
            {{> boxCategory}}
        {{/ionSubheaderBar}}

        {{#ionContent class="page-global-search has-subheader"}}

            {{#if searchHistory}}

                <!--If search history is true-->
                <div>Есть стория поиска</div>

            {{else}}
                {{#if searchResult}}

                    <!--Search result, if sth found-->
                    <!--Code here-->

                    <!--Load google map control-->
                    {{> googleMapControl }}

                    <!--Panel (search result)-->
                    {{> panelSearchResult}}

                {{else}}

                    <!--Empty blank-->
                    {{> noSearch}}

                {{/if}}
            {{/if}}

        {{/ionContent}}
    {{/ionView}}

</template>

<template name="showListMap">
    <button class="button button-clear search-show-list-button" data-menu="multipleSearchTemplate">
        {{> ionIcon icon="ios-list-outline"}}
    </button>
</template>

<template name="boxCategory">
    {{#if getCategoryItems}}
    <ul class="category-list">
        {{#each getCategoryItems}}
            <li class="item-category {{active}}" data-value="{{index}}">{{value}}</li>
        {{/each}}
    </ul>
    {{/if}}
</template>

<!--Load dinamic template-->
<template name="panelSearchResult">
    {{#if activeTemplate}}
        <!--{{> Template.dynamic template=activeTemplate}}-->
        {{> Template.dynamic template=activeTemplate data=getData}}
    {{/if}}
</template>



<!--<template name="oneResult">
    
</template>-->

<!--
<template name="multipleResult">

</template>-->
