# ignore temp office files:
~$*.xlsx
~$*.docx
~*.tmp

.DS_Store

#IDE files:
.idea/workspace.xml
.idea/deployment.xml
.idea/misc.xml
.idea/webServers.xml
meteor-app/.idea/
meteor-app/.meteor/dev_bundle

# ignore these folders:

meteor-app/settings.json
meteor-app/settings-development.json
meteor-app/settings-production.json
meteor-app/node_modules/

#meteor-app/packages
docs/.*
docs/~$.*

packages

