@import "constants.less";

* {
  outline: none;
}

.hidden {
  display: none;
}
.overflow {
  overflow: hidden;
}

.disabled {
  pointer-events:none;
  color: @disabled;
}

// text:
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}
.camera-popup {
  z-index: 10000;
}
.button {
  white-space: nowrap; // no wrapping of buttons!
}

.margin-left {margin-left: 20px;}

.margin-right {margin-right: 20px;}

.bz-text-align-right {text-align: right;}

.bz-read-more {display:block; margin-bottom: 8px;}

.bz-text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bz-separate {
  background-color: @border-color-sep;
  margin: 35px 0;
  height: 1px;
  width: 100%;
  clear: both;
}