@import "constants.less";

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1.25em;
  padding: 1em 35px;
  text-align: center;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 6px;
  transition: all 0.2s;
  text-decoration: none;

  border-color: rgb(255, 255, 255);
  background: rgb(226, 61, 73);
  color: rgb(255, 255, 255);
}

.btn-clear {
  border-color: transparent;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #666666;
  
  padding: 0 6px;
  -webkit-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -ms-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s;
  
  &.active, &.activated {
    opacity: 0.3;
  }
  
  &.btn-clear {
     border-color: transparent; 
     background: none; 
     box-shadow: none; 
     color: #666666; 
  }
}

.bz-header-button {
  
  a {
    .border-radius(2px);
    margin: 0;
  }
}


/*Button size*/
.bz-small {
  padding: 10px 20px 11px;
  font-size: .8rem;
}