@import "constants.less";

.hidden {
  display: none;
}

.disabled {
  pointer-events:none;
  color: @disabled;
}

// text:
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}
.camera-popup {
  z-index: 10000;
}

