

// We use these to control button border styles.
$transparent-button-bg-color: transparent !default;



button, .button {

  &.transparent   {
    background-color: $transparent-button-bg-color;
    opacity: .85;
    &:hover {
      opacity: 1;
    }
  }
  
  &.btn-border {
    border-style: solid;
    border-width: 1px;
  }
  
  &.btn-border-white {
    border-color: rgba(255,255,255, 1);
  }
}
