<template name="noChats">

    <div class="wrapper-message padding-left padding-right">
        <div class="title-message">You have<br>no conversations yet</div>
        <div class="subtitle-message">Start messaging by pressing the pencil button in the top right corner or press button below.</div>
        
        <div class="padding-top">
            <button class="button button-outline  button-positive goContacts">
                go to the Contacts
            </button>
        </div>
        
    </div>

</template>