<template name="myItems">


    <div class="list">

        <div class="item item-divider item-active">
            {{t9n 'active'}}
        </div>
        
        <div class="item">

            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
            <h2>Title</h2>
            <p>Price</p>
            <p>Views</p>
            <p>Left</p>
            
        </div>


        <div class="item item-divider item-inactive">
            {{t9n 'inactive'}}
        </div>

    </div>
    
    
</template>