<template name="home">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">HOME PAGE</h1>

        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
        
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <div class="fake-box">
                <h1 class="font-smoothing">BUZZAR</h1>
                <h3>karma has no deadline</h3>

                {{username}}

            </div>
        {{/ionContent}}
    {{/ionView}}
</template>