<template name="pageMap">
  <!-- navigation buttons -->

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="Home"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{> globalSearchField}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> showListMap}}
  {{/contentFor}}


  {{#ionView}}

    {{#ionSubheaderBar class='subHeader-status'}}
      {{> categoryListButtons}}
    {{/ionSubheaderBar}}

    {{#ionContent class="page--map has-subheader"}}

      {{#if searchHistory}}

        <!--If search history is true-->
        <div>Есть стория поиска</div>

      {{else}}
        <!--{{#if searchResult}}-->

          <!--Search result, if sth found-->
          <!--Code here-->

          <!--Load google map control-->
          {{> googleMapControl }}

          <!--Panel (search result)-->
          {{> panelSearchResult}}

        <!--{{else}}-->

          <!--Empty blank-->
          <!--{{> noSearch}}-->

        <!--{{/if}}-->
      {{/if}}

    {{/ionContent}}
  {{/ionView}}

</template>

<!--<template name="showListMap">
  <button class="button button-clear search-show-list-button" data-menu="multipleSearchTemplate">
    {{> ionIcon icon="ios-list-outline"}}
  </button>
</template>-->

<!--<template name="boxCategory">
  {{#if getCategoryItems}}
    <ul class="category-list">
      {{#each getCategoryItems}}
        <li class="item-category {{isActive this}}" data-value="{{_id}}">{{name}}</li>
      {{/each}}
    </ul>
  {{/if}}
</template>

&lt;!&ndash;Load dinamic template&ndash;&gt;
<template name="panelSearchResult">
  {{#if activeTemplate}}
    &lt;!&ndash;{{> Template.dynamic template=activeTemplate}}&ndash;&gt;
    {{> Template.dynamic template=activeTemplate data=getData}}
  {{/if}}
</template>-->


<!--<template name="oneResult">
    
</template>-->

<!--
<template name="multipleResult">

</template>-->
