<template name="home">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">HOME PAGE</h1>

        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
        
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <div class="fake-box">
                <h1 class="font-smoothing uppercase">Buzzar</h1>
                <!--<h3 class="capitalize">karma has no deadline</h3>-->
                <h2>Onland Crowd-finding (TM)</h2>
                <a class="btn btn-primary btn-large" href="/posts/new">Start your crowdfinding</a>
                {{username}}
            </div>
            <input placeholder="search for people around you"/>
            <br/>
            <br/>
            <div style="padding-top: 100px;">
                <div>
                    <i>What is <span class="uppercase bold">crowd-finding (crowdfinding)</span>?</i>

                    <br/>

                    Think of us as of "Google For People": the way Google lets you search through <b>urls in Web</b>,
                    we let you search among <b>real people around you</b>. Like Google has it's ranking system to order url relevancy,
                    we have our sophisticated Karma algorithm, phone# verification and other means to rank real posts' credibility.
                    <br/>

                    Or think of us of an advertisement in a local newspaper, powered by technology capabilities,
                    that will give another dimension to your post - your current physical location.
                    <br/>
                    <br/>
                    So let local people know if you:
                    <ul class="capitalize">
                        <li>need immediate help</li>
                        <li>offering/looking for a gig/job/service</li>
                        <li>have something to sell/buy</li>
                        <li>searching for a roommate</li>
                        <li>lost/found something</li>
                        <li>fundraising money</li>
                        <li>anything else that can have URL, bound to your location</li>
                    </ul>

                </div>
                <div>
                    <br/>

                    <i>What it gives you?</i>
                    <ul>
                        <li>
                            Immediate live meeting with a person, who got interested in your post.
                        </li>
                        <li>
                            Totally new source of visitors to your post(page). Added to traditional internet traffic sources like Search Engines and specialized websites-who can beat you now?
                        </li>
                        <li>
                            Only local people - no more spammers, bots.
                        </li>
                        <li>
                            No need to online advertise, no fees to online payment systems, no expenses/waiting time because of delivery.
                        </li>
                        <li>
                            Get out of your device. Meet real people. Get and give live emotions and communication. Enjoy your life.
                        </li>
                    </ul>
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>