<template name="home">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">HOME PAGE</h1>

        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
        
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <div class="fake-box">
                <h1 class="font-smoothing uppercase">Buzzar</h1>
                <!--<h3 class="capitalize">karm
                a has no deadline</h3>-->
                <h2>Onland Crowd-finding (TM)</h2>
                <a class="btn btn-primary btn-large" href="/posts/new">Start your crowdfinding</a>
                {{username}}
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" class="capitalize" placeholder="search for people around you">
            </label>

            <div style="padding-top: 100px;">
                {{> aboutUs }}
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>