@import "{}/client/style/constants.less";

@image-width: 85px;
@image-height: 100px;

.input-clear {
  input {
    height: auto;
  }
}

.post-photo-upload {
  .image-holder {
    display: inline-block;
    min-width: @image-width;
    width: @image-width;
    min-height: @image-height;
    height: @image-height;
  }

  .owner-photo-wrap {

    .img-avatar {
      cursor: pointer;
      position: relative;
      padding: 0;

      i {
        color: #FFFFFF;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 20px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: rgba(0,0,0,.2);
      }
    }

    .owner-photo_bubble-wrap div {
      font-size: 12px;
      color: #666666;
      margin: 10px 0;
    }

    .img-avatar img {
      padding: 1px;
      border-radius: 2px;
    }

    .user-name-label {
      font-size: 16px;
      font-weight: 300;
      padding: 0;
      text-align: left;
    }

    .email-label {}

    .phone-label {}

  }
}

.bz-describe-wrapper {
  .display-flex-box();
  .align-items(stretch);
  .justify-content(space-between);

  .panel {
    > div {
      padding: 1.5rem 1.25rem;
    }
    
    .flex(1, 0);
    margin: 0 10px 20px 0;
    padding: 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bz-describe-wrapper {
  
  .panel {
    position: relative;
    
    &.bz-style-soft-background {
      color: rgba(255,255,255, .95);
      border: none;
      text-shadow: 0 1px rgba(0,0,0, .2);
      .border-radius(2px);
      box-shadow: inset 0 1px 0 rgba(255,255,255, .5), 0 2px 10px -5px rgba(0,0,0, 1);
    }
  }
  
  &.bz-style-overlay-depend {
    .panel {
      &.callout {
        box-shadow: none;
        
        &:after {
          background-size: 60px;
        }
      }
    }
  }
}

.clearing-thumbs {
  &[data-clearing] {
    li {
      margin-bottom: 10px;

      a {

        img {
          height: 128px;
          width: auto;
          .border-radius(2px);
        }
      }
    } 
  }
  
  .bz-post-add-photos {
    border: 1px solid @border-color-sep;
    position: relative;
    display: inline-block;
    .border-radius(2px);
    color: @border-color-sep;
    padding: 0 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 10px -5px #000000;
    
    i {
      padding: 15px 25px;
      font-size: 80px;
    }
    
    p {
      color: @text-link-green;
    }
    
    &:active {
      box-shadow: none;
      border-color: @border-color-sep;
    }
    
    &:hover {
      border-color: darken(@border-color-sep, 10%);
    }
  }
}


.bz-create-posts-bg {
  background-size: cover;
  background-image: url(/img/content/bg/bz-create-posts-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bz-box {
  
  ul {
    list-style: none;
    
    .bz-item {
      
      a {
        display: block;
        color: @text-color;
      }

      
      
      .bz-item-wrapper {
        margin: 20px;
        border: 1px solid @border-color-sep;
        box-shadow: inset 0 0 0 1px #fff; /* ,0 2px 10px -5px #000000 */
        .border-radius(2px);
        padding: 15px;
        
        .bz-depend {
          font-weight: 300;
          font-size: 25px;
          
          &.orange {
            color: rgba(247,85,28, 1);
          }
          &.green {
            color: rgba(135,208,191, 1);
          }
        }
        
        p {
          letter-spacing: normal;
          color: @text-color;
          font-size: 14px;
        }
      }
      
      .bz-box-inset {
        border-color: #D7D8D9;
        text-shadow: 0 1px 0 #FFF;
        letter-spacing: 2px;

        &:hover {
          border-bottom-color:#ddd;
          background:#fafbfc;
          background:-moz-radial-gradient(50% 30%, #fff 0%, #fafbfc 50%, #ebeced 100%);
          background:-webkit-radial-gradient(50% 30%, #fff 0%, #fafbfc 50%, #ebeced 100%);
          background:-o-linear-gradient(top, #fafbfc 0%, #f0f1f2 100%);
          box-shadow:inset 0 1px 0 rgba(255,255,255,0.7),inset 0 0 4px rgba(0,0,0,0.05);
          color:#000;
        }

        &:active{
          border-color: @border-color-sep;
          border-top-color:#c8c9ca;
          background:#ebeced;
          box-shadow:0 1px 0 #fff, inset 0 2px 3px rgba(0,0,0,0.06), inset 0 0 2px rgba(0,0,0,0.04);
        }
      }
    }
  }
}