@import "{}/client/style/constants.less";

@image-width: 85px;
@image-height: 100px;

.input-clear {
  input {
    height: auto;
  }
}

.post-photo-upload {
  .image-holder {
    display: inline-block;
    min-width: @image-width;
    width: @image-width;
    min-height: @image-height;
    height: @image-height;
  }

  .owner-photo-wrap {

    .img-avatar {
      cursor: pointer;
      position: relative;
      padding: 0;

      i {
        color: #FFFFFF;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 20px;
        padding: 0 4px;
        border-radius: 2px;
        background-color: rgba(0,0,0,.2);
      }
    }

    .owner-photo_bubble-wrap div {
      font-size: 12px;
      color: #666666;
      margin: 10px 0;
    }

    .img-avatar img {
      padding: 1px;
      border-radius: 2px;
    }

    .user-name-label {
      font-size: 16px;
      font-weight: 300;
      padding: 0;
      text-align: left;
    }

    .email-label {}

    .phone-label {}

  }
}

.bz-describe-wrapper {
  .display-flex-box();
  .align-items(stretch);
  .justify-content(space-between);

  .panel {
    > div {
      padding: 1.5rem 1.25rem;
    }
    
    .flex(1, 0);
    margin: 0 10px 20px 0;
    padding: 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bz-describe-wrapper {
  
  .panel {
    position: relative;
    
    &.bz-style-soft-background {
      color: rgba(255,255,255, .95);
      border: none;
      text-shadow: 0 1px rgba(0,0,0, .2);
      .border-radius(2px);
      box-shadow: inset 0 1px 0 rgba(255,255,255, .5), 0 2px 10px -5px rgba(0,0,0, 1);
    }
  }
  
  &.bz-style-overlay-depend {
    .panel {
      &.callout {
        box-shadow: none;
        
        &:after {
          background-size: 60px;
        }
      }
    }
  }
}

.clearing-thumbs {
  &[data-clearing] {
    li {
      margin-bottom: 10px;

      a {

        img {
          height: 128px;
          width: auto;
          .border-radius(2px);
        }
      }
    } 
  }
  
  .bz-post-add-photos {
    border: 1px solid @border-color-sep;
    position: relative;
    display: inline-block;
    .border-radius(2px);
    color: @border-color-sep;
    padding: 0 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 10px -5px #000000;
    
    i {
      padding: 15px 25px;
      font-size: 80px;
    }
    
    p {
      color: @text-link-green;
    }
    
    &:active {
      box-shadow: none;
      border-color: @border-color-sep;
    }
    
    &:hover {
      border-color: darken(@border-color-sep, 10%);
    }
  }
}