
@import "{}/client/style/constants.less";

@background-box-status:           rgba(32,162,179,1);
@background-item-active:          rgba(158,158,158,1);
@color-text-sub-menu:             rgba(255,255,255,1);
@photoSize:                       100%;
@colorVip:                        rgba(255,51,102,1);
@color-text-description:          rgba(102,102,102,1);
@color-text-price:                rgba(74,74,74,1);



.bar {

  &.subHeader-status {
    background-color: @background-box-status;

    .box-status {
      position: relative;


      span {
        position: relative;
        bottom: 10px;
        margin-right: 6px;
        color: @color-text-sub-menu;
      }
    }


  }
  
}



/*
* Toolbar owner items
*/

.bz-owner-items-toolbar {

  .bz-posts-filters {
    
    .bz-posts-filters-wrapper {
      
      .bz-filter-sort {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
        .bz-filter-sort-label {
          margin-right: 10px;
          color: @text-color-label-span;
          white-space: nowrap;
        }
        
        .bz-filter {
          margin: 0;
          font-size: 14px;
          
          li {
            display: inline-block;
            padding-right: 5px;
            
            a {
              padding: 5px 8px;
              color: @text-color-label;
              .border-radius(2px);
              transition:         all .15s ease-in-out;
              -moz-transition:    all .15s ease-in-out;
              -webkit-transition: all .15s ease-in-out;
              
              &:hover {
                background-color: rgba(238,238,238, 1);
              }
              
              &.active {
                background-color: rgba(81,185,200, 1);
                color: rgba(255,255,255, .9);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                
                &:hover, &:active {
                  background-color: darken(rgba(81,185,200, 1), 10%);
                }
                
                &:active {
                  box-shadow: none;
                }
              }
            }
            
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  

  .bz-owner-items-wrapper {
    .display-flex-box();
    .align-items(center);
    .justify-content(space-between);
    padding: 15px;
    
    
    .bz-switch-activity-items {
      .switch-wrapper {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
        label {
          padding-right: 10px;
          padding-bottom: 2px;
          font-size: 12px;
          color: @text-color-label;
        }
      }
      .switch {
        margin: 0;

        input:checked + label {
          background-color: #51B9C8;
        }
      }
    }
  }
}
/* END */




.list {

  .bz-posts-items-owner-menu {
    margin-bottom: 20px;
  }

  .bz-posts-items-owner-post-menu {
    .display-flex-box();
    .align-items(center);
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: -17px -16px 0 -16px;
    background-color: rgba(246,246,246, 1);
    padding: 0;
    -webkit-border-radius:2px 2px 0 0;
    -moz-border-radius:2px 2px 0 0;
    border-radius:2px 2px 0 0;
    

    .bz-nav {
      border: none;

      > * {
        position: relative;
        padding: 0;
        border: 0;

        &:before {
          position: absolute;
          content: '';
          bottom: 50%;
          -webkit-transform: translateY(50%);
          -moz-transform: translateY(50%);
          -ms-transform: translateY(50%);
          -o-transform: translateY(50%);
          transform: translateY(50%);
          height: 20px;
          width: 1px;
          background-color: rgba(222,222,222, 1);
        }

        &:first-child {
          &:before {
            background-color: transparent;
            width: 0;
          }
        }

        &:last-child {}
        
        a {
          
          background-color: transparent;
          color: @text-color;
          padding: 16px 30px;
        }

        &.active {
          background-color: transparent;
          
          a {
            color: @text-link-green;
          }
          
          &:after {
            position: absolute;
            content: '';
            border: 10px solid transparent;
            border-bottom: 10px solid rgba(255,255,255, 1);
            right: 50%;
            bottom: 0;
            -webkit-transform: translateX(50%);
            -moz-transform: translateX(50%);
            -ms-transform: translateX(50%);
            -o-transform: translateX(50%);
            transform: translateX(50%);
          }
        }
      }
    }

    .bz-select-all-posts {
      margin: 0 20px 0 0;
      .border-radius(2px);
      background-color: rgba(0,0,0, .1);
      padding: 5px 10px;

      input {
        margin: 0;
        height: auto;
      }
    }
  }
 
  .item {
    position: relative;
    .display-flex-box();
    .align-items(flex-start);
    margin-bottom: 15px;
    
    
    > .bz-post-wrapper {
      border-bottom: 1px solid @border-color-sep;

      &.bz-post-off {
        border-bottom: none;
      }
    }
    
    &:last-child  > .bz-post-wrapper {
      border-bottom:none;
    }

    &:last-child {
      margin-bottom: 0;
    }
    
    &.item-active {
      background-color: @background-item-active;
      color: @color-text-sub-menu;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      padding: 0 15px;
    }

    /*Active a link*/
    /*&:active {
      background-color: rgba(80,100,100,.1);
    }*/
    
    
    .bz-btn-check {
      margin-right: 20px;
      padding: 5px 10px;

      input {
        margin: 0;
        height: auto;
      }
    }
    
    .bz-post-wrapper {
      .border-radius(2px);
      padding: 16px 10px;
      /*background-color: #FFFFFF;*/
      text-decoration: none;
      width: 100%;
      display: -webkit-box; /* Safari */
      display: -moz-box; /* Firefox 21- */
      display: -ms-flexbox; /* IE 10+ */
      display: -webkit-flex; /* Chrome */
      display: flex; /* Standard  */
  
      .photo {
        
        background-color: lighten(gray, 50%);
        
        -webkit-flex-basis: 170px;
        flex-basis: 170px;
        -webkit-flex-grow: 0;
        
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
  
        .photo-wrapper {
  
          img {
            height: @photoSize;
            width: @photoSize;
            -webkit-border-radius: 2px 0 0 2px;
            -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
          }
        }
      }
  
      .description {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;

        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        
        width: 100%;
        min-height: 142px;
        padding-left: 16px;
        color: @color-text-description;
        
        .bz-post-header {
          margin-bottom: 10px;
          a {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            text-transform: uppercase;
            color: @text-link-green;
            white-space: normal;
            font-weight: 400;
            padding: 0;
          }

          .bz-switch-activity-post {
            margin: auto 0;
            padding-left: 5px;
            height: 20px;
            z-index: 3;

            .switch-wrapper {
              text-align: center;
              label {
                padding-bottom: 2px;
                font-size: 12px;
                color: @text-color-label;
              }
            }
            .switch {
              margin: 0;

              &.bz-small {
                padding: 0;
                label {
                  .border-radius(2px);
                  box-shadow: 0 1px 2px rgba(0,0,0, .2);
                  height: 1.25rem;
                  width: 2.25rem;

                  &:after {
                    height: .75rem;
                    width: 0.75rem;
                  }
                }
              }

              input:checked + label {
                background-color: #51B9C8;

                &:after {
                  left: 1.25rem;
                }
              }
            }
          }
          
        }
        
        .bz-post-content {
          margin-top:0;
          
          .bz-item-text {
            margin: 0 16px 0 0;
            font-size: 14px;
          }

          .price {
            display: inline-block;
            background-color: rgba(100,100,100, .1);
            .border-radius(2px);
            margin: 10px 0;
            font-size: 18px;
            font-weight: 700;
            color: @color-text-price;

            .bz-prefix {
              display: inline-block;
              color: @sub-title-color;
              padding: 2px 10px;
              
              font-size: 16px;
              background-color: rgba(222,222,222, 1);
              
            }
            &.usd {
              padding: 0 10px 0 0;
              .bz-prefix {
                float: left;
                margin-right: 5px;
                -webkit-border-radius: 2px 0 0 2px;
                -moz-border-radius: 2px 0 0 2px;
                border-radius: 2px 0 0 2px;
              }
            }
            &.rub {
              padding: 0 0 0 10px;
              .bz-prefix {
                float: right;
                margin-left: 5px;
                -webkit-border-radius: 0 2px 2px 0;
                -moz-border-radius: 0 2px 2px 0;
                border-radius: 0 2px 2px 0;
              }
            }
          }
        }
        
        .bz-post-footer {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .bz-progress {
            font-size: 13px;
          }

          .bz-count-view {
            display: inline-block;
            font-size: 12px;
            white-space: normal;
            margin: auto 16px auto 0;
            background-color: rgba(100,100,100, .1);
            .border-radius(2px);
            padding-right: 8px;

            -webkit-flex-grow: 0;
            flex-grow: 0;
            
            i {
              padding: 4px 8px;
              margin-right: 5px;
              background-color: @border-color-sep;
              -webkit-border-radius: 2px 0 0 2px;
              -moz-border-radius: 2px 0 0 2px;
              border-radius: 2px 0 0 2px;
            }

            .all-views,
            .today-views{
              color: @sub-title-color;
              text-transform: uppercase;
              padding-right: 5px;
            }

            .today-views {}
            
            .bz-count-view-content {
              padding-right: 10px;
              font-weight: 700;
              
              &:last-child {
                padding-right: 0;
              }
            }
          }

          .bz-services {
            -webkit-flex-grow: 0;
            flex-grow: 0;
            margin: auto 0;
            padding-right: 16px;

            .bz-services-wrapper {
              .display-flex-box();

              /*.bz-post-presence {
                
                
                a {
                  border: 0;
                  
                  .bz-i-wrapper {
                    .border-radius(2px);
                    border: 0;
                    font-size: 12px;
                    padding: 0px 8px;
                    background-color: rgba(53,203,75, .95);
                    color: rgba(255,255,255, .75);
                    
                    i {}
                  }
                }
                
                .bz-i-wrapper {
                  font-size: 12px;
                  .border-radius(2px);
                  padding: 0px 8px;
                  border: 1px solid @border-color-sep;
                  color: @text-color-label-span;
                  
                  i {}
                }
              }*/
            }


          }
                    
          .bz-post-footer-actions {
            margin: auto 0;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            z-index: 3;

            -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;

            -webkit-flex-grow: 0;
            flex-grow: 0;
           
            
            .bz-post-action-link {
              display: inline-block;
              border: 1px solid @border-color-sep;
              padding: 6px;
              color: @text-color-label-span;
              background-color: transparent;
              white-space: nowrap;
              .border-radius(2px);
              line-height: 21px;
              opacity: .5;
              transition:         all .25s ease-in-out;
              -moz-transition:    all .25s ease-in-out;
              -webkit-transition: all .25s ease-in-out;
              
              span {
                display: block;
                text-align: center;
                height: 18px;
                width: 18px;
                
                i {
                  font-size: 16px;
                }
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        
      
      &.bz-post-live {
        border: 1px solid rgba(53, 203, 75, .3);
      }
      
      &.bz-post-away {}
    }

      &.bz-post-off {
        position: relative;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all .15s;
        transition: all .15s;
        
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          content: '';
          background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
          background-image: linear-gradient(-45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
          background-size: 170px 170px;
          background-color: rgba(200, 200, 200, 0.15);
          z-index: 2;
        }
      }
    
    }
  }
}




/*
* Page new post
*/
.main-content {
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-top: 1px solid #fff;
  
  .bz-muted-text {
    color: rgba(112, 125, 135, .85);
    
    &.subtitle {
      margin-top: -15px;
    }
  }
  
  .bz-count-characters {
    color: @sub-title-color;
    span {
      font-weight: 700;
    }
  }
  
  h1 {
    font-size: 30px;
    color: rgb(100,100,100);
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: rgba(112, 125, 135, 1);
  }
  
  h3 {
    color: rgba(112, 125, 135, 1);
  }
    
  .title {
    
    &.border-bottom {
      border-bottom: 1px solid rgba(100,100,100, .95);
      margin-bottom: 15px;
    }
  }

  .item-group {
    margin-bottom: 14px;
    /* padding-top: 20px;
     padding-bottom: 35px;*/
    border-bottom: 1px solid #ddd;
    
    .item-input {
      color: #4d4d4d;
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1.5;
      margin-bottom: 0;
      
      .input-label {
        position: relative;
        padding-right: 15px;
        
        .middle-label {
          position: relative;
          top: 20px;
        }
      }
    }
    
    .item {
      
      &.item-divider {
        margin-bottom: 25px;
      }
    }
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  .bz-owner-photo-wrap {
    position: relative;
    .img-avatar {
      padding: 15px 0;
    }
  }
  
  input, select {
    height: 45px;
  }
  
  .padding-top {
    padding-top: 15px;
  }
  
  .input-label {
    
  }
  
  .location-nearby {
    padding: 0 15px;
  }
  
}


/* Modal Delete Post */

[id^='modal-'] {
  max-width: 32.5rem;
  &.reveal-modal {
    padding: 0;
  }
}

.confirmPostModal {
  
  .confirmPostModal-wrapper {
    
    .confirmPostModal-header {
      border-bottom: 1px solid rgba(180, 180, 180, 0.2);
      padding: 20px 20px 15px 20px;
      margin-bottom: 15px;

      .bz-warning-icon {
        
        i {
          color: rgba(255,65,36, 1);
          display: block;
          font-size: 55px;
          margin-right: 20px;
        }
      }

      .bz-modal-header {
        
        h1 {
          &.title {
            text-transform: uppercase;
            font-size: 25px;
            color: @h-title-color;
            font-weight: 400;
            margin: 0;
          }
        }
        
        .sub-title {
          color: @sub-title-color;
          font-size: 14px;
          margin: 0;
        }
      }
    }
    
    .confirmPostModal-content {
      padding: 0 20px;
      
      p {
        margin: 0;
        color: @text-color;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        width: 100%;
        display: inline-block;
      }
    }
    
    .confirmPostModal-buttons {
      padding: 20px;
      
      .button {
        margin-right: 20px;
        margin-bottom: 0;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/* END */








