
@import "{}/client/style/constants.less";

@background-box-status:           rgba(32,162,179,1);
@background-item-active:          rgba(158,158,158,1);
@color-text-sub-menu:             rgba(255,255,255,1);
@photoSize:                       100%;
@colorVip:                        rgba(255,51,102,1);
@color-text-description:          rgba(102,102,102,1);
@color-text-price:                rgba(74,74,74,1);



.bar {

  &.subHeader-status {
    background-color: @background-box-status;

    .box-status {
      position: relative;


      span {
        position: relative;
        bottom: 10px;
        margin-right: 6px;
        color: @color-text-sub-menu;
      }
    }


  }
  
}



/*
* Toolbar owner items
*/

.bz-owner-items-toolbar {
  
  

  .bz-owner-items-wrapper {
    .display-flex-box();
    .align-items(center);
    .justify-content(space-between);
    padding: 15px;
    
    
    .bz-switch-activity-items {
      .switch-wrapper {
        text-align: center;
        label {
          padding-bottom: 2px;
          font-size: 12px;
          color: @text-color-label;
        }
      }
      .switch {
        margin: 0;

        input:checked + label {
          background-color: #51B9C8;
        }
      }
    }
  }
}
/* END */



.list {
  
  .bz-posts-items-owner-menu {
    margin-bottom: 20px;
  }

  .bz-posts-items-owner-post-menu {
    .display-flex-box();
    .align-items(center);
    margin-bottom: 20px;
    
    .bz-nav {
      
      > * {
        a {
          background-color: transparent;
          padding: 6px 14px;
        }
      }
    }
    
    .bz-select-all-posts {
      margin: 0 20px 0 0;
      .border-radius(2px);
      background-color: rgba(0,0,0, .1);
      padding: 5px 10px;
      
      input {
        margin: 0;
        height: auto;
      }
    }
  }


  .item {
    position: relative;
    .display-flex-box();
    .align-items(flex-start);
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &.item-active {
      background-color: @background-item-active;
      color: @color-text-sub-menu;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      padding: 0 15px;
    }

    /*Active a link*/
    /*&:active {
      background-color: rgba(80,100,100,.1);
    }*/

    .bz-switch-activity-post {
      position: absolute;
      right: 10px;
      top: 10px;
      
      .switch-wrapper {
        text-align: center;
        label {
          padding-bottom: 2px;
          font-size: 12px;
          color: @text-color-label;
        }
      }
      .switch {
        margin: 0;
        
        &.bz-small {
          padding: 0;
          label {
            height: 1.25rem;
            width: 2.25rem;
            
            &:after {
              height: .75rem;
              width: 0.75rem;
            }
          }
        }

        input:checked + label {
          background-color: #51B9C8;
          
          &:after {
            left: 1.25rem;
          }
        }
      }
    }
    
    .bz-btn-check {
      margin-right: 20px;
      padding: 5px 10px;

      input {
        margin: 0;
        height: auto;
      }
    }
    
    a {
      .border-radius(2px);
      border: 1px solid @border-color-sep;
      background-color: #FFFFFF;
      text-decoration: none;
      width: 100%;
      display: -webkit-box; /* Safari */
      display: -moz-box; /* Firefox 21- */
      display: -ms-flexbox; /* IE 10+ */
      display: -webkit-flex; /* Chrome */
      display: flex; /* Standard  */
  
      .photo {
        
        background-color: lighten(gray, 50%);
        
        -webkit-flex-basis: 170px;
        flex-basis: 170px;
        -webkit-flex-grow: 0;
        
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
  
        .photo-wrapper {
  
          img {
            height: @photoSize;
            width: @photoSize;
            -webkit-border-radius: 2px 0 0 2px;
            -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
          }
        }
      }
  
      .description {
        width: 100%;
        padding-left: 16px;
        color: @color-text-description;
  
          .title {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            color: @text-color-label;
            white-space: normal;
            font-weight: 400;
            padding: 5px 0 0 0;
  
          }
  
        .price {
          font-size: 18px;
          font-weight: 700;
          color: @color-text-price;
  
          .prefix {
            font-size: 16px;
          }
        }

        .bz-count-view,
        .bz-progress {
          font-size: 13px;
        }
  
        .bz-count-view {
          white-space: normal;
          padding-top: 0;
  
          .today {
          }
        }
  
        .bz-progress {
          
        }
  
        
      
      &.bz-post-live {
        border: 1px solid rgba(53, 203, 75, .3);
      }
      
      &.bz-post-away {}
    }
  }

    .bz-services {
      position: absolute;
      right: 10px;
      bottom: 10px;
      
      .bz-services-wrapper {
        .display-flex-box();

        /*.bz-post-presence {
          
          
          a {
            border: 0;
            
            .bz-i-wrapper {
              .border-radius(2px);
              border: 0;
              font-size: 12px;
              padding: 0px 8px;
              background-color: rgba(53,203,75, .95);
              color: rgba(255,255,255, .75);
              
              i {}
            }
          }
          
          .bz-i-wrapper {
            font-size: 12px;
            .border-radius(2px);
            padding: 0px 8px;
            border: 1px solid @border-color-sep;
            color: @text-color-label-span;
            
            i {}
          }
        }*/
      }

      
    }
  }
}




/*
* Page new post
*/
.main-content {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-top: 1px solid #fff;
  
  .title {
    color: rgba(100,100,100, .95);
    text-transform: uppercase;
    
    &.border-bottom {
      border-bottom: 1px solid rgba(100,100,100, .95);
      margin-bottom: 15px;
    }
  }

  .item-group {
    margin-bottom: 14px;
    padding-top: 20px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  .bz-owner-photo-wrap {
    position: relative;
    .img-avatar {
      padding: 15px 0;
    }
  }
  
  input, select {
    height: 45px;
  }
  
  .padding-top {
    padding-top: 15px;
  }
  
  .input-label {
    
  }
  
  .location-nearby {
    padding: 0 15px;
  }
  
}