<template name="multipleSearchTemplate">
    <div class="multipleResult">
        <div class="multiple-search">
            {{#ionList}}

            <!-- {{#esEach index="posts"}}-->
                {{#ionItem path="contacts.show" class=""}}
                    <div class="card-item">
                        <div class="photo">
                            <img src="/img/content/avatars/avatar-no.png">
                        </div>
                        <div class="info-panel">
                            <div class="first-line">
                                <div class="rating"></div>
                                <div class="save">
                                    <button class="button btn-clear"> {{> ionIcon icon="ios-heart-outline"}} </button>
                                </div>
                            </div>
                            <div class="second-line">
                                <div class="title">
                                    <h3>Title item</h3>
                                </div>
                                <div class="price">
                                    <p>50 <span class="prefix">$</span></p>
                                </div>
                            </div>
                            <div class="bottom-b">
                                <div class="adding">30 min ago</div>
                                <div class="location">NY</div>
                                <div class="distance">
                                    <i class="ion-ios-navigate-outline"></i> 530 m
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ionItem}}








                {{#ionItem path="contacts.show" class=""}}
                    <div class="card-item">
                        <div class="photo">
                            <img src="/img/content/avatars/avatar-no.png">
                        </div>
                        <div class="info-panel">
                            <div class="first-line">
                                <div class="rating"></div>
                                <div class="save">
                                    <button class="button btn-clear"> {{> ionIcon icon="ios-heart-outline"}} </button>
                                </div>
                            </div>
                            <div class="second-line">
                                <div class="title">
                                    <h3>Title item</h3>
                                </div>
                                <div class="price">
                                    <p>50 <span class="prefix">$</span></p>
                                </div>
                            </div>
                            <div class="bottom-b">
                                <div class="adding">30 min ago</div>
                                <div class="location">NY</div>
                                <div class="distance">
                                    <i class="ion-ios-navigate-outline"></i> 530 m
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ionItem}}
                {{#ionItem path="contacts.show" class=""}}
                    <div class="card-item">
                        <div class="photo">
                            <img src="/img/content/avatars/avatar-no.png">
                        </div>
                        <div class="info-panel">
                            <div class="first-line">
                                <div class="rating"></div>
                                <div class="save">
                                    <button class="button btn-clear"> {{> ionIcon icon="ios-heart-outline"}} </button>
                                </div>
                            </div>
                            <div class="second-line">
                                <div class="title">
                                    <h3>Title item</h3>
                                </div>
                                <div class="price">
                                    <p>50 <span class="prefix">$</span></p>
                                </div>
                            </div>
                            <div class="bottom-b">
                                <div class="adding">30 min ago</div>
                                <div class="location">NY</div>
                                <div class="distance">
                                    <i class="ion-ios-navigate-outline"></i> 530 m
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ionItem}}
                {{#ionItem path="contacts.show" class=""}}
                    <div class="card-item">
                        <div class="photo">
                            <img src="/img/content/avatars/avatar-no.png">
                        </div>
                        <div class="info-panel">
                            <div class="first-line">
                                <div class="rating"></div>
                                <div class="save">
                                    <button class="button btn-clear"> {{> ionIcon icon="ios-heart-outline"}} </button>
                                </div>
                            </div>
                            <div class="second-line">
                                <div class="title">
                                    <h3>Title item</h3>
                                </div>
                                <div class="price">
                                    <p>50 <span class="prefix">$</span></p>
                                </div>
                            </div>
                            <div class="bottom-b">
                                <div class="adding">30 min ago</div>
                                <div class="location">NY</div>
                                <div class="distance">
                                    <i class="ion-ios-navigate-outline"></i> 530 m
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ionItem}}
                {{#ionItem path="contacts.show" class=""}}
                    <div class="card-item">
                        <div class="photo">
                            <img src="/img/content/avatars/avatar-no.png">
                        </div>
                        <div class="info-panel">
                            <div class="first-line">
                                <div class="rating"></div>
                                <div class="save">
                                    <button class="button btn-clear"> {{> ionIcon icon="ios-heart-outline"}} </button>
                                </div>
                            </div>
                            <div class="second-line">
                                <div class="title">
                                    <h3>Title item</h3>
                                </div>
                                <div class="price">
                                    <p>50 <span class="prefix">$</span></p>
                                </div>
                            </div>
                            <div class="bottom-b">
                                <div class="adding">30 min ago</div>
                                <div class="location">NY</div>
                                <div class="distance">
                                    <i class="ion-ios-navigate-outline"></i> 530 m
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ionItem}}



                    <!--{{/esEach}}-->

            {{/ionList}}
        </div>
    </div>
</template>