<template name="myItems">


    <div class="list">

        <div class="item item-divider item-active">
            {{t9n 'active'}}
        </div>

        {{#each posts}}
            {{> oneItem}}   <!--1-->
        {{/each}}
        <div class="item item-divider item-inactive">
            {{t9n 'inactive'}}
        </div>

    </div>
    
    
</template>




<template name="oneItem">
    
    <div class="item">
        
        <div class="photo">
            <a href="#" class="photo-wrapper">
                <img src="{{getPhotoUrl.data}}">
            </a>
        </div>

        <div class="description">
            <h3 class="title">{{details.title}}</h3> <!-- Define max characters-->
            <div class="price"> 4 990 <span class="prefix">$</span></div>
            <div class="count-view">{{t9n 'views'}} 250 <span class="today">(15 today)</span></div>
            <div class="progress">{{t9n 'left'}} 15 days</div>
            <div class="services">
                <ul>
                    <li class="vip">VIP</li>
                    <li class="up">UP</li>
                    <li>...</li>
                </ul>
            </div>
        </div>

    </div>
    
</template>