
@background-box-status:           rgba(32,162,179,1);
@color-text-sub-menu:             rgba(255,255,255,1);


.bar {

  &.subHeader-status {
    background-color: @background-box-status;

    .box-status {
      position: relative;


      span {
        position: relative;
        bottom: 10px;
        margin-right: 6px;
        color: @color-text-sub-menu;
      }
    }


  }
}