<template name="globalSearchIon">
  <!-- navigation buttons -->

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="Home"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{> globalSearchField}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> showListMap}}
  {{/contentFor}}


  {{#ionView}}

    {{#ionSubheaderBar class='subHeader-status'}}
      {{> categoryListButtons}}
    {{/ionSubheaderBar}}

    {{#ionContent class="page-global-search has-subheader"}}

      {{#if searchHistory}}

        <!--If search history is true-->
        <div>Есть стория поиска</div>

      {{else}}
        {{#if searchResult}}

          <!--Search result, if sth found-->
          <!--Code here-->

          <!--Load google map control-->
          {{> googleMapControl }}

          <!--Panel (search result)-->
          {{> panelSearchResult}}

        {{else}}

          <!--Empty blank-->
          {{> noSearch}}

        {{/if}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}

</template>