
@import "{}/client/style/constants.less";

#choose-locations-global,
#choose-locations-new-post {
  &.reveal-modal {
    &.js-global-location,
    &.js-new-post-location {
      padding: 0;
      overflow: auto;
    }
  }

  .close-reveal-modal {
    top: 2px;
  }
}


// make my location icon red:
.bz-fa-location-not-defined {
  color: red;
}

/* Modal window Choose locations */
.bz-choose-location-control {
  padding: 0;

  .header-toolbar {

    .header-toolbar-title {
      padding: 15px 16px;
      
      span {
        text-transform: uppercase;
        color: @h-title-color;
        font-weight: 400;
        width: 88%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .header-toolbar-search {
      border-top: 1px solid rgba(180,180,180, .2);
      padding: 16px 16px;
      background-color: rgba(230,230,230, .2);

      input {
        text-indent: 1em;
      }
    }

    .header-toolbar-regions {
      border-top: 1px solid rgba(180,180,180, .2);
      padding: 16px 16px;
      overflow: auto;
      
      ul {
        margin-left: 0;
        
        > * {
          padding: 0;
          line-height: 26px;
          
          a {
            
          }
        }
      }
      
      .title {
        color: @h-title-color;
        margin-bottom: 5px;
      }

      a {
        color: @text-link-green;
      }
    }

  }
}