<!-- search field -->
<template name="globalSearchField">
    <div class="search-field item-input-inset">

        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input class="form-control typeahead" name="team" type="text"
                   placeholder="Search ..."
                   autocomplete="off" spellcheck="off"
                   data-source="search" data-selected="selected"/>
            <!--{{> esAutosuggest id="postsA"  index="posts" placeholder="Search ..." }}-->
            <!--{{> esAutosuggest index="posts" placeholder="Search ..." renderSuggestion=suggestion}}-->
            <!--{{> esInput index="posts" type="search" placeholder="Search ..." }}-->
        </label>

        <button class="button button-clear button-search-field">
            Cancel
        </button>
    </div>
</template>
<!--<template name="playersOverview">
    <input class="form-control typeahead" name="team" type="text"
           placeholder="NBA teams"
           autocomplete="off" spellcheck="off"
           data-source="search" />
</template>-->
<template name="postSuggestion">
    <p class="repo-name">{{_id}}</p>
</template>
