
@import "{}/client/style/constants.less";

/**
* Search result on the home page
**/

.text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.js-container-search-results {

  h2.title {
    padding: 0 15px;
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: 300;
    color: @h-title-color;
  }
}

.bz-search-results {
  
  
  .bz-search-items {
    overflow: hidden;
    margin: 0 auto;
    
    .bz-item {
      position: relative;
      /*box-shadow: 0 0 1px 0 rgba(44, 54, 67, 0.1);*/
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      margin: 0 15px 30px 15px;
      background-color: #FFFFFF;
      float: left;
      
      /*fix width*/
      &.bz-item-fixed {
        width: 380px;
        padding-top: 380px;
      }
      
      .bz-item-mask,
      .bz-item-photo {
        overflow: hidden;
      }

      .bz-item-mask,
      .bz-item-photo,
      .bz-item-content,
      .bz-item-footer {
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
      }

      .bz-item-mask {
        .border-radius(2px);

        a {
          
          .bz-item-photo {
            bottom: 195px;
            background-color: #dbe6ec;

            img {
              height: 100%;
              min-width: 100%;
              object-fit: cover;
            }

            &:after {
              display: block;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              background-color: rgba(0,0,0, .2);
              transition:         opacity 0.25s ease-out;
              -moz-transition:    opacity 0.25s ease-out;
              -webkit-transition: opacity 0.25s ease-out;
            }
          }
          .bz-item-content {
            background-color: #FFFFFF;
            height: 160px;
            top: auto;
            bottom: 35px;
            padding: 15px;
            transition:         height 0.25s ease-out;
            -moz-transition:    height 0.25s ease-out;
            -webkit-transition: height 0.25s ease-out;

            .bz-item-title,
            .bz-item-content-context {
              .text-ellipsis();
            }
            
            .bz-item-content-context {
              /*.display-flex-box();*/
              
              .bz-item-content-context-wrapper {
                .display-flex-box();
                .align-items(center);
                .justify-content(space-between);
                
                .bz-post-presence {
                  
                  a {
                    border: 0;

                    .bz-i-wrapper {
                      border: 1px solid rgba(53,203,75, .8);
                      color: rgba(53,203,75, 1);
                    }
                  }

                  .bz-i-wrapper {
                    border: 1px solid @border-color-sep;
                    color: darken(@border-color-sep, 30%);
                  }
                }
                
                .bz-item-type {
                  text-transform: capitalize;
                  font-size: 13px;
                  padding: 2px 0;
                  .type-category-color();
                }
              }
            }
            
            .bz-item-title {
              max-width: 95%;
              width: 100%;
              font-size: 18px;
              padding: 0;
              margin: 0;
              color: @h-title-color;
            }
            
            .bz-item-text {
              color: @text-color-label;
              margin: 10px 0 0;
              font-size: 14px;
              line-height: 1.4;
              font-weight: 100;
            }
            
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 20px;
              left: 0;
              bottom: 0;
              background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #FFF 75%);
            }
          }
          .bz-item-footer {
            /*background-image: -webkit-linear-gradient(-80deg, @bg-color-fff, @bg-color-eee);
            background-image: linear-gradient(-180deg, @bg-color-fff, @bg-color-eee);*/
            background-color: @bg-color-fff;
            height: 36px;
            line-height: 36px;
            padding: 0 15px;
            top: auto;
            font-size: 13px;
            /*box-shadow: 0 1px 0 0 #fff inset;*/
            color: @text-color-label-span;
            /*border-top: 1px solid #f7f7f7;*/
          }
          
          &:hover .bz-item-photo:after {
            opacity: 1;
          }

          &:hover .bz-item-content {
            height: 220px;
          }
        }
      }
      
      .bz-tem-additional-tags {
        position: absolute;
        z-index: 11;
        top: 0;
        right: 10px;
        
        .price {
          margin-top: 10px;
          padding: 5px 6px 3px;
          font-weight: bold;
          text-align: center;
          letter-spacing: -0.2px;
          color: #FFFFFF;
          background-color: rgba(240, 65, 36, .8);
          padding-left: 10px;
          padding-right: 10px;
          .border-radius(2px);
        }
      }
      
      @bg-user-owner-top: rgba(0,0,0, .0);
      @bg-user-owner-top1: rgba(0,0,0, .7);
      
      .bz-item-owner {
        background-image: -webkit-linear-gradient(90deg, @bg-user-owner-top, @bg-user-owner-top1);
        background-image: linear-gradient(0deg, @bg-user-owner-top, @bg-user-owner-top1);
        background-color: @bg-user-owner-top;
        
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        .display-flex-box();
        
        .bz-avatar {
          height: 45px;
          width: 45px;
          min-width: 45px;
          margin: 10px 15px 0 10px;
          
        }
        
        .bz-item-user-info {
          width: 100%;
          margin: 10px 0 0 0;
          overflow: hidden;

          .bz-username {

            a {
              color: rgba(255,255,255, 1);
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 700;
              .text-ellipsis();
              display: block;
              width: 100%;
              max-width: 95%;
            }
          }

          .bz-rating {
            i {
              color: @text-link-green;
              font-size: 14px;
            }
          }
        }
        
        
      }
    }
  }
}

/* END */



/**
* About US
**/

.bz-about-us {
  padding: 30px 0;
  width: 100%;
  
  
  .text-overlay-bottom {
    position: relative;
    color: #666666;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 30px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(250,250,250, 1) 75%);
    }
  }
}

/* END */



/**
* SlideShow - homepage
**/

.bz-slideshow {
  position: relative;
  height: 600px;
  box-shadow: 0 20px 15px -10px rgba(0,0,0,.5);
  
  .bz-slideshow-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    
    .bz-slideshow-items {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;

      img {
        bottom: 0;
        position: absolute;
      }
            
      .bz-slide-show-list {
        
        .bz-slideshow-item {
          background-color: rgba(0,0,0, .95);
          bottom: 0;
          display: none;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
          
          &.bz-slideshow-item-active {
            display: block;
            z-index: 2;
          }
        }
      }
    }
    
    video {
      bottom: 0;
      height: 100%;
      position: absolute;
      width: auto;
    }
    
    /*.video-playing {}*/
  }
  
  .bz-slideshow-content {
    position: relative;
    height: 600px;
    z-index: 2;
  }
}

/* END */